<div class="col-xs12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="debt in bcCtrl.billingCycle.debts">
                    <td>
                        <input ng-model="debt.name" class="form-control" placeholder="nome"
                        ng-readonly="bcCtrl.tabDelete"/>
                    </td>
                    <td>
                        <input ng-model="debt.value" class="form-control" placeholder="valor" 
                        ng-change="bcCtrl.calculateValues()" type="number" ng-readonly="bcCtrl.tabDelete"/>
                    </td>
                    <td>
                        <input ng-model="debt.status" class="form-control" placeholder="status"
                        value="PAGO" ng-readonly="bcCtrl.tabDelete"/> 
                    </td>
                    <td style="width:150px;">
                        <button ng-click="bcCtrl.addDebt($index)" ng-disabled="bcCtrl.tabDelete"
                         class="btn btn-success"><i class="fa fa-plus"></i></button>

                        <button ng-click="bcCtrl.cloneDebt($index, debt)" ng-disabled="bcCtrl.tabDelete"
                         class="btn btn-warning"><i class="fa fa-clone"></i></button>

                        <button ng-click="bcCtrl.deleteDebt($index)" ng-disabled="bcCtrl.tabDelete"
                        class="btn btn-danger "><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>